{% extends 'glass/base.html' %}
{% load staticfiles %}
{% load glass_extras %}

{% block title %}
Find topics
{% endblock title %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <form role="form" method="get" action=".">
      <div class="input-group">
        <input type="text" class="form-control"
               placeholder="Search for&hellip;"
               name="search"
               value="{{ request.GET.search }}">
        {% if request.GET.tag %}
        <input type="hidden" class="form-control"
               name="tag" value="{{ request.GET.tag }}">
        {% endif %}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </form>
  </div>
</div>

{% if page %}
<div class="row">
  <div class="col-md-8">
    <hr>
    <ul class="list-group">
      {% for topic in page.object_list %}
      <li class="list-group-item">
        <a href="{% url 'topic' topic.slug %}">
          {{ topic.title }}
        </a>
        {% if user.is_authenticated %}
        <div class="pull-right">
          {% like_badge topic.initial_message user %}
        </div>
        {% endif %}
        <br>
        {% tags_of topic %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% pagination %}

{% else %}
<p>No pages to show.</p>
{% endif %}

{% endblock content %}
