{% extends 'glass/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% block title %}
New topic
{% endblock title %}

{% block content %}

<div class="col-md-6 col-md-offset-2">
  <form role="form" method="post" action=".">
    {% csrf_token %}

    {% include 'generic-fields.html' %}

    {{ msg_form.media }}
    {{ msg_form.as_p }}

    {% comment %}
    <textarea name="test" id="new"></textarea>
    {% markdown_editor "#new" %}
    {% markdown_media %}

    {% markdown_editor msg_form.content.auto_id %}
    {% markdown_media %}
    {% endcomment %}

    <button class="btn btn-lg btn-primary btn-block"
            type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>

{% endblock content %}
