{% extends 'glass/base.html' %}
{% load staticfiles %}
{% load glass_extras %}
{% block title %}
{{ topic.title }}
{% endblock title %}

{% block title_stuff %}
{% tags_of topic %}
{% endblock title_stuff %}

{% block content %}

{% for message in messages %}
{% message message user %}
{% endfor %}

{% if user.is_authenticated %}
{% form '.?next=#bottom' %}
{% csrf_token %}
{% generic_fields form %}
{% generic_button 'Submit' %}
{% endform %}
{% endif %}

<a id="bottom"></a>

{% endblock content %}
